# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
platform-admin-web/target/
platform-common/platform-common-api/target/
platform-common/platform-common-redis/target/
platform-common/platform-common-service/target/
platform-common/platform-common-upload/target/
platform-common/platform-common-utils/target/
platform-common/platform-common-web/target/
platform-mobile-client/src/test/resources/
platform-mobile-client/target/
platform-system/platform-system-api/target/
platform-system/platform-system-provider/target/
tmp/
